# Project-Specific
uploads/
/ai_legal.db

# Environment Variables
.env

# Virtual Environments
venv/
env/
.venv/


# Python Cache 
__pycache__/


# SQLite Databases
*.db
*.sqlite
*.sqlite3

# IDEs & OS Files
.vscode/
